.yarn/*

.nx/installation
.nx/cache
.nx/workspace-data

node_modules/
dist/
coverage/
yarn-error.log


.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md

# Environment files
.env*

# Certificates and keys
*.pem

# Next.js
.next
out

/generated/prisma
